<%= render layout: '/header',
           locals: { header: 'h2', title: 'Cycle Count' } do %>
  <nav class="pull-right">
    <%= link_to 'Return to Cycle Counts', cycle_counts_path, class: 'btn btn-link' %>
    <%= link_to 'Edit', edit_cycle_count_path(cycle_count), class: 'btn btn-link' %>
  </nav>
<% end %>
<div class="form form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label">Location Description</label>
    <p class="col-sm-6 form-control-static">
      <%= cycle_count.location.description %>
    </p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Requested Date</label>
    <p class="col-sm-6 form-control-static">
      <%= cycle_count.formatted_requested_date %>
    </p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Created By</label>
    <p class="col-sm-6 form-control-static">
      <%= cycle_count.created_by.email %>
    </p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Created At</label>
    <p class="col-sm-6 form-control-static">
      <%= cycle_count.formatted_created_at %>
    </p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Updated By</label>
    <p class="col-sm-6 form-control-static">
      <%= cycle_count.updated_by.email %>
    </p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Updated At</label>
    <p class="col-sm-6 form-control-static">
      <%= cycle_count.formatted_updated_at %>
    </p>
  </div>
</div>
