<div class="form-inputs">
  <%= error_messages model %>

  <%= f.input :email %>
  <%= f.input :name %>
  <%= f.input :role_name,
              label: 'Role',
              collection: (User::ROLE_NAMES),
              prompt: '-Choose a Role Type-' %>
  <%= f.input :is_active, :as => :boolean %>
</div>
